.statistics {
    width: 500px;
    border: 1px solid gray;
    margin: 0 auto;
    padding: 50px 50px;
    margin-top: 50px;
    border-radius: 8px;
}

.title{
   text-align: center;
    color: grey;
    text-transform: uppercase;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.item{
    width: 45px;
    height: auto;
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px 20px;
    text-align: center;
    justify-content: center;
    background-color: beige;
}

.label{
    color: blueviolet;
}
.percentage{
    color: blueviolet;
    font-size: 22px;
}